<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="constructor">
       <!--default-autowire="byName">-->
       <!--default-autowire="byType">-->


    <bean class="com.sunnywr.autowiring.AutoWiringDao"></bean>
    <!--<bean id="autoWiringDao" class="com.sunnywr.autowiring.AutoWiringDao"></bean>-->
    <!--<bean id="autoWiringDao2" class="com.sunnywr.autowiring.AutoWiringDao"></bean>-->
    <bean id="autoWiringService" class="com.sunnywr.autowiring.AutoWiringService"></bean>
</beans>